apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-instances
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/josuecodjo/team-apps.git
    targetRevision: HEAD
    path: instances
  destination:
    server: "https://kubernetes.default.svc"
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
